@import "../../styles/_colors.scss";

.avatar-header {
  height: 20vh;
  width: 100%;
  background: $black;
}

.avatar {
  margin-top: -12vh;
  position: relative;
}

.profile-name {
  font-size: 1.6rem;
}

.profile-description {
  font-size: 0.9rem;
  color: darkgray;
  padding: 5px 10px 0;
}

.profile-stat {
  border: 1px solid $gray;
  color: $text;
  height: 10vh;
  text-align: center;
  text-align: -moz-center;
  line-height: 20px;
  padding: 0.4em;

  .box {
    .title {
      color: $black_gray;
    }
  }
}