@import url('https://fonts.googleapis.com/css?family=Prompt');

body {
  margin: 0;
  padding: 0;
  font-family: Prompt, sans-serif;
  font-size: 18px;
}

/* icon */
.icon-app {
  color: aliceblue;
  font-size: 2rem;
  margin: 7px;
}